.container{
  width: min(90vw, 1000px);
  padding: 10em 0;
  display: flex;
  flex-direction: column;
  gap: 10em;
}

.projectContainer{
   display: flex;
   gap: 1em; 
   align-items: center;
   position: relative;
}

.projectContainer:nth-child(2) {
   justify-content: end;
}

.projectContainer:nth-child(4) {
   justify-content: end;
}

.techStack{
    display: flex;
    gap: 1em;
    font-size: .8em;
}

.title{
  font-weight: 900;
}

.techStack p:hover{
    color: var(--primary);
    cursor: default;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 1em;
}

.projectContainer:nth-of-type(2) .detailsContainer,
.projectContainer:nth-of-type(4) .detailsContainer {
  align-items: flex-end;
  text-align: right;
}

.detailsContainer p{
    line-height: 1.5;
    color: var(--text-white-2);
}

.detailsContainer h2{
    color: var(--primary);
    font-size: 1em;
}

:global(.imageContainer) {
  display: flex;
  position: absolute;
  right: 0;
  width: 40%;             
  transition: all 0.5s ease;
  border-radius: 1em;
  overflow: hidden;
}

.projectContainer:nth-of-type(2) :global(.imageContainer),
.projectContainer:nth-of-type(4) :global(.imageContainer) {
  left: 0;
}

:global(.imageContainer) img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%) sepia(100%) brightness(50%) hue-rotate(217deg) saturate(1000%);
  transition: all .5s ease;
}

:global(.imageContainer):hover{
  width: 60%;
}

:global(.imageContainer):hover img{
  filter: none;
  z-index: 0;
}

.fontIcon{
  height: 24px;
  width: 24px;
  color: var(--primary);
}

.fontIcon:hover{
  color: var(--text-white-2);
  cursor: pointer;
}

.actionContainer{
  display: flex;
  gap: 1em;
  align-items: center;
}

@media (width < 650px) {

  .projectContainer{
    flex-direction: column;
  }

  .detailsContainer{
    width: 100%;
  }

  :global(.imageContainer){
    position: static;
    width: 100%;
  }

  :global(.imageContainer) img {
    filter: none;
  }

  :global(.imageContainer):hover{
    width: 100%;
  }

}