.container{
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  animation: slideUp 2.5s ease forwards;
  animation-delay: 6.3s;
}

.container p {
  font-size: 2rem;
  color: var(--gray-100);
  font-weight: 500;
}

.container p:nth-child(1){
  color: var(--primary);
  font-size: 1em;
}

.container p:nth-child(2){
  font-size: 3em;
  font-weight: 700;
}

.container p:nth-child(3){
  font-size: 1em;
  width: 100%;
  color: var(--text-white-2);
  line-height: 1.5;
}

.primaryButton{
    display: inline-block;
    background-color: transparent;
    color: var(--primary);
    font-size: .8em;
    padding: 1em;
    border-radius: .5em;
    border: var(--primary) 1.5px solid;
}

.primaryButton:hover{
    background-color: var(--primary-hover);
}

@keyframes slideUp {
    from {
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0);
    }
  }