.navigationBar{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;   
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: max(1vw, 2vw) max(1vw, 2vw);
    padding-top: 1vw;
    color: var(--text-white);
}


.sidebar{
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 1em 3em;
    gap: 1em;
    overflow: hidden;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar ul li{
    display: flex;
    padding: 1em;
    padding-left: 0;
}

.icon{
    width: 2em;
    height: 2em;
}

a{
    text-decoration: none;
}

.navLinks button:nth-child(3){
    display: none;
}

.navigationBar a:hover{
    color: var(--primary);
}

.navLogo{
    display: flex;
    gap: 1em;
    align-items: center;
}


.imageContainer{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
    border: 2px var(--text-white) solid;
}

.imageContainer img{
    width: 100%;
    object-fit: cover;
}

.navigationBar ul{
    display: flex;
    gap: 2em
}

.navigationBar ul li{
    list-style: none;
}

.navigationBar ul li a{
    color: var(--text-white);
}

.navLinks{
    display: flex;
    gap: 1em;
    align-items: center;
    animation: slideUp 2s ease forwards;
    animation-delay: 7.25s;
}

.josh{
    /* font-size: 1.3em; */
    font-weight: 500;
    display: flex;
    align-items: center;
    animation: slideUp 2.5s ease forwards;
    animation-delay: 6.25s;
}

@keyframes slideUp {
    from {
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0);
    }
}

@media (width < 700px){
    .navLinks ul, .navLinks button:nth-child(2){
        display: none;
    }

    .navLinks button:nth-child(3){
        display: flex;
    }
}



