@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{

  margin: 0;
  font-family: 'Archivo', 'sans-serif';
  padding: 0;
}

:root{
  --text-white: #eeeeee;
  --text-white-1: #dddddd;
  --text-white-2: #ceccff;
  --text-white-3: #9c98ff;
  --background: #02001d;
  --primary: #675fdb;
  --primary-hover: #675fdb34;
  --secondary: #a7c6ab;
  --accent: #8db6ac;
}

html, body {
  scroll-behavior: smooth; 
}

main {
  scroll-snap-type: y mandatory;
}

